/* Creation Date: Saturday, March 30th 2019
 * Original Author: Nathan
 * Contents of file: CSS for dashboard page
 */

.appcontent {
  flex: 1;
}

.fillScreen {
  height: 100%;
  margin: 0 !important;
}