.appcontent {
    flex: 1;
}

.navbar {
    margin: 0 !important;
    height: 50px !important;
    background: #181820 !important;
    border-radius: 0 !important;
}

.fillScreen {
    height: 100%;
    margin: 0 !important;
}

.homeTitle{
    text-align: center;
    color: white;
    font-size: 6em;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    margin-bottom: 0;
}

.homeSubtitle{
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200;
    margin-top: 0;
}